node_modules
*.swp
.idea/
*.iml
.*.tmp
deploy-local.sh
.remote-sync.json
lib-jitsi-meet.*
npm-*.log
.sync-config.cson
.jshintignore
.jshintrc
.DS_Store
stats.json
.vscode
lib-meet-hour.min.js
lib-meet-hour.min.map
lib-meet-hour.e2ww-worker.js